@import "tailwindcss";

/* Headings */
h1 {
  font-size: 2rem;
  font-weight: bold;
}
h2 {
  font-size: 1.5rem;
  font-weight: bold;
}
h3 {
  font-size: 1.25rem;
  font-weight: bold;
}

/* Paragraphs */
p {
  margin-bottom: 1em;
}

/* Highlight */
mark {
  background-color: yellow;
  padding: 0.2em;
  border-radius: 0.2em;
}

/* Lists */
ul {
  list-style-type: disc;
  margin-left: 2rem;
  margin-bottom: 1em;
}
ol {
  list-style-type: decimal;
  margin-left: 2rem;
  margin-bottom: 1em;
}
li {
  margin-bottom: 0.25em;
}
p{
   padding: 0;
   margin:0
}

/* Alignment support */
[data-text-align='center'] {
  text-align: center;
}
[data-text-align='right'] {
  text-align: right;
}
[data-text-align='justify'] {
  text-align: justify;
}
